.item-card {
  /* border: 1px solid green; */
  width: 450px;
  border-radius: 10px;
  text-decoration: none;

  display: flex;
  flex-direction: column;
  /* gap: 20px; */

  flex-shrink: 1;
}

.card-img {
  /* border: 1px solid blue; */

  width: 450px;
  height: 550px;
  border-radius: 10px;
  position: relative;
}

.card-img img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  border-radius: 10px 10px 0 0;
}

.card-info {
  position: relative;
  background: rgb(172, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(172, 0, 0, 1) 0%,
    rgba(255, 0, 0, 1) 50%,
    rgba(172, 0, 0, 1) 100%
  );
  border-radius: 0 0 10px 10px;
}

.desc-top {
  display: flex;
  padding: 24px;
  align-items: center;
}

.card-name {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  flex: 1;
}

.card-description {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
}

.like-button {
  background: none;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 12px;
  top: 25px;
  right: 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
}

.like-button:hover {
  background-color: white;
  color: #ed1d24;
}

.like-button:active {
  background-color: #ed1d24;
  color: white;
}
