.characters-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.characters-container {
  border: 1px solid black;
  max-width: 1480px;
  margin: 0 auto;
}

.characters-container h2 {
  font-size: 36px;
}

.characters-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 36px;
}
