.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ed1d24;
  color: #fff;
  padding: 20px;
}

.logo {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin-bottom: 20px;
}

.menu {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  gap: 70px;
  padding: 12px;
}

.menu-item {
  /* border: 1px solid green; */
  padding: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.menu-item:hover {
  color: #000000;
}
