.marvel-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  padding: 0 20px;

  background: rgb(172, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(172, 0, 0, 1) 0%,
    rgba(255, 0, 0, 1) 50%,
    rgba(172, 0, 0, 1) 100%
  );
  color: white;
}

.marvel-footer-menu {
  display: flex;
  gap: 20px;
}

.marvel-footer a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.marvel-footer a:hover {
  text-decoration: underline;
}

.marvel-footer-made-by {
  font-size: 18px;
  opacity: 0.8;
}
