@import url("https://fonts.googleapis.com/css2?family=Phudu:wght@400;500;700&display=swap");

.search-input {
  font-family: "Phudu", sans-serif;
  font-size: 24px;
  margin: 50px;
  width: 40%;
  height: 60px;
  border: none;
  border-radius: 1px;
  outline: 20px solid rgb(172, 0, 0);
}

::placeholder {
  font-size: 24px;
}
